<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utoronto.saturn.app">

    <application android:theme="@style/AppTheme">
        <activity android:name=".front_end.views.MainActivity"
            android:label="Saturn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".front_end.views.SearchResultActivity" />
        </activity>
        <activity android:name=".front_end.views.SearchResultActivity">
            <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
